<template>
	<div>
		<base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
			<div class="row"></div>
		</base-header>

		<div class="container-fluid mt--7">
			<div class="row" >
				<div class="col-xl-12">
					<div class="card shadow">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-3">
									<h2> <a :href="'/#/module/' + content.subjectId + '/' + content.courseId"><i class="ni ni-bold-left"></i></a> My Contents</h2>
								</div>

								<form class="navbar-search col-lg-5">
									<div class="form-group mb-0">
										<div class="input-group input-group-alternative">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="fas fa-search"></i></span>
											</div>
											<input class="form-control" @keyup="onSearchContent()" v-model="searchKeyword" placeholder="Search" type="text" />
										</div>
									</div>
								</form>
								<div class="col-lg-1"></div>
								<div class="col-lg-3">
									<a class="text-white btn btn-md bg-gradient-success" v-if="showDisplay" @click="onAddContent()"
										><i class="ni ni-fat-add" ></i> Add Content</a
									>
                 <a className="text-white btn btn-md bg-gradient-danger" v-if="!showDisplay" @click="showDisplay = true" ><i className="ni ni-bold-left"></i> Cancel</a>
								</div>
							</div>

							<hr class="my-3" />
							<!--  -->
							<div class="row" v-if="showDisplay">
								<div v-for="contents in contentList" :key="contents.id" class="col-sm-4" style="margin-top:25px;margin-bottom:25px;">
									<div class="card shadow">
										<div class="card-header bg-transparent">
											<div class="row align-items-center">
												<div class="col-lg-12">
													<td class="text-right">
                            <base-dropdown class="dropdown" position="right">
                              <template >
                                <a
                                  class="btn btn-sm btn-icon-only text-light"
                                  role="button"
                                  data-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false"
                                >
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                              </template>

                                <a class="dropdown-item"  @click="onUpdateContent(contents)">Edit</a>
                                <a class="dropdown-item"  @click="deleteContent(contents)">Delete</a>
                            </base-dropdown>
                          </td>
												</div>
												<div class="col-lg-12 text-center">
													<a href="javascript:void(0)">
														<img
															src=".././assets/img/brand/content_logo.png"
															class="img-thumbnail"
															style="width:200px;height:200px;"
														/>
														<h3>{{contents.contentName}}</h3>
													</a>
												</div>
												<div class="col-lg-12">
													<h4>Description: {{contents.type.substring(0,25)}} <span class="text-success"></span></h4>
													<h4>Created: {{contents.createdAt}}</h4>
													<h4>Updated: {{contents.updatedAt}}</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

			<div className="row" v-if="!showDisplay">
				<div className="col-lg-3"></div>
				<div className="col-lg-6">
					<label className="form-control-label text-center" htmlFor="input-username">
						Content Title
					</label>
					<input
						class="form-control form-group"
						placeholder="Title"
						addon-left-icon="ni ni-email-83"
            v-model="content.content"
					/>

<label className="form-control-label text-center" htmlFor="input-username">
						Description
					</label>
					<input
						class="form-control form-group"
						placeholder="Description"
						addon-left-icon="ni ni-email-83"
            v-model="content.type"
					/>

					<a
						className="text-white btn btn-md bg-gradient-success"
						style="marginTop:10px" v-if="!onUpdate"
            @click="insertContent()"
						><i className="ni ni-fat-save"></i> Add Content</a
					>
					<a
						className="text-white btn btn-md bg-gradient-success" @click="updateContent()"
						style="marginTop:10px" v-if="onUpdate"
						><i className="ni ni-fat-save"></i> Update Content</a
					>
				</div>
				<div className="col-lg-1"></div>
			</div>

						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</template>
<script>
import AuthService from '../service/AuthService';
import ContentService from '../service/ContentService';
import { NIL as NIL_UUID } from 'uuid';

export default {
	components: {},
    name: "content",
	data() {
	    return {
            contentList: [],
            content: {
				id:NIL_UUID,
                contentName:'',
                content:'',
                type:'',
                isPublished:0,
                createdAt:new Date(),
                updatedAt:new Date(),
                moduleId:this.$route.params.moduleId,
                courseId:this.$route.params.courseId,
                subjectId:this.$route.params.subjectId,
            },
            searchKeyword:'',
            showDisplay:true,
            onUpdate:false,
        };
	},
	methods: {

    onSearchContent(){
      clearInterval(this.changeInterval)
      this.changeInterval = setInterval(() => {
        this.getContentList();
        clearInterval(this.changeInterval);
      }, 800);
    },

    async getContentList(){
      var content = await ContentService.getContentList(this.content.moduleId,this.searchKeyword);
      this.contentList = content.data.data;
    },

	async onAddContent(){
		this.content.id = NIL_UUID;
		this.content.title = '';
		this.showDisplay = false;
		this.onUpdate = false;
	},

    async insertContent(){
      var response = await ContentService.insertContent(this.content);
      if (response) {
        alert("Successfully saved");
        this.getContentList();
        this.onUpdate = false;
        this.showDisplay = true;
      }
    },

    async onUpdateContent(content){
      this.content = content;
      this.content.content = content.contentName;
      this.onUpdate = true;
      this.showDisplay = false;
    },

    async updateContent(){
      var response = await ContentService.updateContent(this.content);
      if(response){
        alert("Successfully updated");
        this.getContentList();
        this.onUpdate = false;
        this.showDisplay = true;
      }
    },

    async deleteContent(content){
      var response = await ContentService.deleteContent(content.id);
      if(response){
        alert("Successfully deleted");
        this.getContentList();
      }
    }
  },

  beforeMount() {
    this.content.subjectId = this.$route.params.subjectId;
    this.content.moduleId = this.$route.params.moduleId;
    this.content.courseId = this.$route.params.courseId;
    AuthService.checkToken();
    this.getContentList();
  }
};
</script>
<style></style>
