<template>
	<div>
		<base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
			<div class="row"></div>
		</base-header>

		<div class="container-fluid mt--7">
			<div class="row" >
				<div class="col-xl-12">
					<div class="card shadow">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-3">
									<h2> <a v-if="!isStudent" :href="'/#/dashboard'"><i class="ni ni-bold-left"></i></a> My Courses</h2>
								</div>

								<form class="navbar-search col-lg-5">
									<div class="form-group mb-0">
										<div class="input-group input-group-alternative">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="fas fa-search"></i></span>
											</div>
											<input class="form-control" @keyup="onSearchCourse()" v-model="searchKeyword" placeholder="Search" type="text" />
										</div>
									</div>
								</form>
								<div class="col-lg-1"></div>
								<div class="col-lg-3" v-if="!isStudent">
									<a class="text-white btn btn-md bg-gradient-success" v-if="showDisplay" @click="onAddCourse()"
										><i class="ni ni-fat-add" ></i> Add Course</a
									>
                 <a className="text-white btn btn-md bg-gradient-danger" v-if="!showDisplay" @click="showDisplay = true" ><i className="ni ni-bold-left"></i> Cancel</a>
								</div>
							</div>

							<hr class="my-3" />
							<!--  -->
							<div class="row" v-if="showDisplay">
								<div v-for="course in courseList" :key="course.id" class="col-sm-4" style="margin-top:25px;margin-bottom:25px;">
									<div class="card shadow">
										<div class="card-header bg-transparent">
											<div class="row align-items-center">
												<div class="col-lg-12">
													<td class="text-right">
                            <base-dropdown class="dropdown" position="right" v-if="!isStudent">
                              <template >
                                <a
                                  class="btn btn-sm btn-icon-only text-light"
                                  role="button"
                                  data-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false"
                                >
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                              </template>

                                <a class="dropdown-item"  @click="onUpdateCourse(course)">Edit</a>
                                <a class="dropdown-item"  @click="deleteCourse(course)">Delete</a>
                            </base-dropdown>
                          </td>
												</div>
												<div class="col-lg-12 text-center">
													<a href="javascript:void(0)">
														<img
															src=".././assets/img/brand/course_logo.jpg"
															class="img-thumbnail"
															style="width:200px;height:200px;"
														/>
														<h3>{{course.title}}</h3>
													</a>
												</div>
												<div class="col-lg-12">
													<h4>Description: {{course.description}} <span class="text-success"></span></h4>
													<h4>Created: {{course.createdAt}}</h4>
													<h4>Updated: {{course.updatedAt}}</h4>
													<div class="text-center">
														<a v-if="!isStudent"
															:href="'/#/module/' + subjectId + '/' + course.id"
															class="text-white text-center btn btn-md bg-gradient-primary"
															>View Modules</a
														>
														<a v-if="isStudent"
															href="javascript:void(0)"
															@click="enrollCourse(course.id)"
															class="text-white text-center btn btn-md bg-gradient-primary"
															>Enroll Course</a
														>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

			<div className="row" v-if="!showDisplay">
				<div className="col-lg-3"></div>
				<div className="col-lg-6">
					<label className="form-control-label text-center" htmlFor="input-username">
						Course Title
					</label>
					<input
						class="form-control form-group"
						placeholder="Title"
						addon-left-icon="ni ni-email-83"
            v-model="course.title"
					/>

<label className="form-control-label text-center" htmlFor="input-username">
						Description
					</label>
					<input
						class="form-control form-group"
						placeholder="Description"
						addon-left-icon="ni ni-email-83"
            v-model="course.description"
					/>

					<a
						className="text-white btn btn-md bg-gradient-success"
						style="marginTop:10px" v-if="!onUpdate"
            @click="insertCourse()"
						><i className="ni ni-fat-save"></i> Add Course</a
					>
					<a
						className="text-white btn btn-md bg-gradient-success" @click="updateCourse()"
						style="marginTop:10px" v-if="onUpdate"
						><i className="ni ni-fat-save"></i> Update Course</a
					>
				</div>
				<div className="col-lg-1"></div>
			</div>

						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</template>
<script>
import AuthService from '../service/AuthService';
import CourseService from '../service/CourseService';
import EnrollmentService from '../service/EnrollmentService';
import { NIL as NIL_UUID } from 'uuid';

export default {
	components: {},
    name: "course",
	data() {
	    return {
            courseList: [],
            course: {
				id: NIL_UUID,
				subjectId: this.$route.params.subjectId,
				title: '',
				description: '',
				icon: '',
				author: '',
				duration: '',
				isPublished: 0,
				modules: [],
				createdAt: new Date(),
				updatedAt: new Date(),
            },
            searchKeyword:'',
            showDisplay:true,
            onUpdate:false,
            subjectId:'',
			isStudent:false,
        };
	},
	methods: {

    onSearchCourse(){
      clearInterval(this.changeInterval)
      this.changeInterval = setInterval(() => {
        this.getCourseList();
        clearInterval(this.changeInterval);
      }, 800);
    },

    async getCourseList(){
      var course = await CourseService.getCourseList(this.subjectId,this.searchKeyword);
      this.courseList = course.data.data;
    },

	async onAddCourse(){
		this.course.id = NIL_UUID;
		this.course.title = '';
		this.showDisplay = false;
		this.onUpdate = false;
	},

    async insertCourse(){
      var response = await CourseService.insertCourse(this.course);
      if (response) {
        alert("Successfully saved");
        this.getCourseList();
        this.onUpdate = false;
        this.showDisplay = true;
      }
    },

    async onUpdateCourse(course){
      this.course = course;
      this.onUpdate = true;
      this.showDisplay = false;
    },

    async updateCourse(){
      var response = await CourseService.updateCourse(this.course);
      if(response){
        alert("Successfully updated");
        this.getCourseList();
        this.onUpdate = false;
        this.showDisplay = true;
      }
    },

    async deleteCourse(course){
      var response = await CourseService.deleteCourse(course.id);
      if(response){
        alert("Successfully deleted");
        this.getCourseList();
      }
    },

	async enrollCourse(courseId){
		var response = await EnrollmentService.insertEnrollment({courseId:courseId});
		if(response){
		alert("Successfully enrolled");
		this.getCourses();
		}else{
		alert("You already enrolled on this course.")
		}
	}

  },

  beforeMount() {
	if(localStorage.getItem('role') == 'Student'){
		this.isStudent = true;
	}
    this.subjectId = this.$route.params.subjectId;
    AuthService.checkToken();
    this.getCourseList();
  }
};
</script>
<style></style>
