<template>
	<div>
		<base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
			<div class="row"></div>
		</base-header>

		<div class="container-fluid mt--7">
			<div class="row" >
				<div class="col-xl-12">
					<div class="card shadow">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-3">
									<h2>My Subjects</h2>
								</div>

								<form class="navbar-search col-lg-5">
									<div class="form-group mb-0">
										<div class="input-group input-group-alternative">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="fas fa-search"></i></span>
											</div>
											<input class="form-control" @keyup="onSearchSubject()" v-model="searchKeyword" placeholder="Search" type="text" />
										</div>
									</div>
								</form>
								<div class="col-lg-1"></div>
								<div class="col-lg-3">
									<a class="text-white btn btn-md bg-gradient-success" v-if="showDisplay" @click="showDisplay = false"
										><i class="ni ni-fat-add" ></i> Add Subject</a
									>
                 <a className="text-white btn btn-md bg-gradient-danger" v-if="!showDisplay" @click="showDisplay = true" ><i className="ni ni-bold-left"></i> Cancel</a>
								</div>
							</div>

							<hr class="my-3" />
							<!--  -->
							<div class="row" v-if="showDisplay">
								<div v-for="subject in subjectList" :key="subject.id" class="col-sm-4" style="margin-top:25px;margin-bottom:25px;">
									<div class="card shadow">
										<div class="card-header bg-transparent">
											<div class="row align-items-center">
												<div class="col-lg-12">
													<td class="text-right">
                            <base-dropdown class="dropdown" position="right">
                              <template >
                                <a
                                  class="btn btn-sm btn-icon-only text-light"
                                  role="button"
                                  data-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false"
                                >
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                              </template>

                                <a class="dropdown-item" href="#" @click="onUpdateSubject(subject)">Edit</a>
                                <a class="dropdown-item" href="#" @click="deleteSubject(subject)">Delete</a>
                            </base-dropdown>
                          </td>
												</div>
												<div class="col-lg-12 text-center">
													<a href="javascript:void(0)">
														<img
															src=".././assets/img/brand/subject_logo.png"
															class="img-thumbnail"
															style="width:200px;height:200px;"
														/>
														<h3>{{subject.title}}</h3>
													</a>
												</div>
												<div class="col-lg-12">
													<h4>Subj Owner: {{subject.owner}} <span class="text-success"></span></h4>
													<h4>Created: {{subject.createdAt}}</h4>
													<h4>Updated: {{subject.updatedAt}}</h4>
													<div class="text-center">
														<a
															:href="'/#/course/' + subject.id"
															class="text-white text-center btn btn-md bg-gradient-primary"
															>View Courses</a
														>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

			<div className="row" v-if="!showDisplay">
				<div className="col-lg-3"></div>
				<div className="col-lg-6">
					<label className="form-control-label text-center" htmlFor="input-username">
						Subject Title
					</label>
					<input
						class="form-control form-group"
						placeholder="Title"
						addon-left-icon="ni ni-email-83"
            v-model="subject.title"
					/>
					<a
						className="text-white btn btn-md bg-gradient-success"
						style="marginTop:10px" v-if="!onUpdate"
            @click="insertSubject()"
						><i className="ni ni-fat-save"></i> Add Subject</a
					>
					<a
						className="text-white btn btn-md bg-gradient-success" @click="updateSubject()"
						style="marginTop:10px" v-if="onUpdate"
						><i className="ni ni-fat-save"></i> Update Subject</a
					>
				</div>
				<div className="col-lg-1"></div>
			</div>

						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</template>
<script>
import AuthService from '../service/AuthService';
import SubjectService from '../service/SubjectService';
import { NIL as NIL_UUID } from 'uuid';

export default {
	components: {},
    name: "dashboard",
	data() {
		return {
      subjectList: [],
      subject: {
        id: NIL_UUID,
        title: "",
        courses: [],
        isPublished: 0,
        owner: "",
        createdAt: new Date(),
        updatedAt: new Date(),
      },
      searchKeyword:'',
      showDisplay:true,
      onUpdate:false,

    };
	},
	methods: {

    onSearchSubject(){
      clearInterval(this.changeInterval)
      this.changeInterval = setInterval(() => {
        this.getSubjects();
        clearInterval(this.changeInterval);
      }, 800);
    },

    async getSubjects(){
      var subjects = await SubjectService.getSubjectList(this.searchKeyword);
      this.subjectList = subjects.data.data;
      console.log(this.subjectList);
    },

    async insertSubject(){
      var response = await SubjectService.insertSubject(this.subject);
      if (response) {
        alert("Successfully saved");
        this.getSubjects();
        this.onUpdate = false;
        this.showDisplay = true;
      }
    },

    async onUpdateSubject(subject){
      this.subject = subject;
      this.onUpdate = true;
      this.showDisplay = false;
    },

    async updateSubject(){
      var response = await SubjectService.updateSubject(this.subject);
      if(response){
        alert("Successfully updated");
        this.getSubjects();
        this.onUpdate = false;
        this.showDisplay = true;
      }
    },

    async deleteSubject(subject){
      var response = await SubjectService.deleteSubject(subject.id);
      if(response){
        alert("Successfully deleted");
        this.getSubjects();
      }
    }
  },

	beforeMount() {
    
    AuthService.checkToken();
    this.getSubjects();
  }
};
</script>
<style></style>
