<template>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Sign in with credentials</small>
          </div>
          <form role="form">
            <input
              class="form-control form-group"
              placeholder="Email"
              addon-left-icon="ni ni-email-83"
              v-model="model.username"
            >

            <input
              class="form-control form-group"
              placeholder="Password"
              type="password"
              addon-left-icon="ni ni-lock-circle-open"
              v-model="model.password"
            >

            <base-checkbox class="custom-control-alternative">
              <span class="text-muted">Remember me</span>
            </base-checkbox>
            <div class="text-center">
              <button type="primary" @click="onLogin" class="btn btn-primary btn-lg btn-block" >Sign in</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="text-light"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/register" class="text-light"
            ><small>Create new account</small></router-link
          >
        </div>
      </div>
    </div>
  </div>

  <img v-if="isProcessing"
      style="max-width:100%;height:auto;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)"
      alt="..." class="text-center" src="/img/brand/spinner.gif"/>

</template>
<script>

import AuthService from ".././service/AuthService.js";
import UserService from ".././service/UserService.js";
import { NIL as NIL_UUID } from 'uuid';

export default {
  name: "login",
  data() {
    return {
      model: {
        username: '',
        password: '',
        grant_type: 'password',
        client_id: 'postman',
        client_secret: 'secret',
        scope: 'apiscope',
        isProcessing:false,
      },
    };
  },
  methods:{
    async onLogin() {
      this.isProcessing = true;
      const response = await AuthService.login(this.model);
      if(response){
        localStorage.setItem('token', response.data.access_token);
        this.getUserDetails();
      }
    },

    async getUserDetails(){
      var user = await UserService.getUserDetailsByToken();
      if (user) {
        localStorage.setItem('role', user.data.role);
        alert("Successfuly login");
        if (user.data.role == 'Student') {
          window.location.href = '#/course/' + NIL_UUID;
        } else {
          this.$router.push('/dashboard')
        }
      }
    }
  },
  beforeMount(){
    if (localStorage.getItem('token')) {
      this.$router.push('/dashboard');
    }
  }
};
</script>
<style></style>
