<template>
	<div>
		<base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
			<div class="row"></div>
		</base-header>

		<div class="container-fluid mt--7">
			<div class="row" >
				<div class="col-xl-12">
					<div class="card shadow">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-3">
									<h2> <a :href="'/#/course/' + modules.subjectId"><i class="ni ni-bold-left"></i></a> My Modules</h2>
								</div>

								<form class="navbar-search col-lg-5">
									<div class="form-group mb-0">
										<div class="input-group input-group-alternative">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="fas fa-search"></i></span>
											</div>
											<input class="form-control" @keyup="onSearchModule()" v-model="searchKeyword" placeholder="Search" type="text" />
										</div>
									</div>
								</form>
								<div class="col-lg-1"></div>
								<div class="col-lg-3">
									<a class="text-white btn btn-md bg-gradient-success" v-if="showDisplay" @click="onAddModule()"
										><i class="ni ni-fat-add" ></i> Add Module</a
									>
                 <a className="text-white btn btn-md bg-gradient-danger" v-if="!showDisplay" @click="showDisplay = true" ><i className="ni ni-bold-left"></i> Cancel</a>
								</div>
							</div>

							<hr class="my-3" />
							<!--  -->
							<div class="row" v-if="showDisplay">
								<div v-for="moduless in modulesList" :key="moduless.id" class="col-sm-4" style="margin-top:25px;margin-bottom:25px;">
									<div class="card shadow">
										<div class="card-header bg-transparent">
											<div class="row align-items-center">
												<div class="col-lg-12">
													<td class="text-right">
                            <base-dropdown class="dropdown" position="right">
                              <template >
                                <a
                                  class="btn btn-sm btn-icon-only text-light"
                                  role="button"
                                  data-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false"
                                >
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                              </template>

                                <a class="dropdown-item"  @click="onUpdateModule(moduless)">Edit</a>
                                <a class="dropdown-item"  @click="deleteModule(moduless)">Delete</a>
                            </base-dropdown>
                          </td>
												</div>
												<div class="col-lg-12 text-center">
													<a href="javascript:void(0)">
														<img
															src=".././assets/img/brand/module_logo.png"
															class="img-thumbnail"
															style="width:200px;height:200px;"
														/>
														<h3>{{moduless.title}}</h3>
													</a>
												</div>
												<div class="col-lg-12">
													<h4>Duration: {{moduless.duration}} <span class="text-success"></span></h4>
													<h4>Created: {{moduless.createdAt}}</h4>
													<h4>Updated: {{moduless.updatedAt}}</h4>
													<div class="text-center">
														<a
															:href="'/#/content/' + modules.subjectId + '/' + modules.courseId + '/' + moduless.id"
															class="text-white text-center btn btn-md bg-gradient-primary"
															>View Contents</a
														>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

			<div className="row" v-if="!showDisplay">
				<div className="col-lg-3"></div>
				<div className="col-lg-6">
					<label className="form-control-label text-center" htmlFor="input-username">
						Module Title
					</label>
					<input
						class="form-control form-group"
						placeholder="Title"
						addon-left-icon="ni ni-email-83"
            v-model="modules.title"
					/>

<label className="form-control-label text-center" htmlFor="input-username">
						Duration
					</label>
					<input
                        type="number"
						class="form-control form-group"
						placeholder="Duration"
						addon-left-icon="ni ni-email-83"
            v-model.number="modules.duration"
					/>

					<a
						className="text-white btn btn-md bg-gradient-success"
						style="marginTop:10px" v-if="!onUpdate"
            @click="insertModule()"
						><i className="ni ni-fat-save"></i> Add Module</a
					>
					<a
						className="text-white btn btn-md bg-gradient-success" @click="updateModule()"
						style="marginTop:10px" v-if="onUpdate"
						><i className="ni ni-fat-save"></i> Update Module</a
					>
				</div>
				<div className="col-lg-1"></div>
			</div>

						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</template>
<script>
import AuthService from '../service/AuthService';
import ModuleService from '../service/ModuleService';
import { NIL as NIL_UUID } from 'uuid';

export default {
	components: {},
    name: "module",
	data() {
	    return {
            modulesList: [],
            modules: {
				id:NIL_UUID, 
                title:'',
                duration:0,
                courseId:this.$route.params.courseId,
                subjectId:this.$route.params.subjectId,
                contents:'',
                isPublished:0,
                courseTitle:'',
                createdAt:new Date(),
                updatedAt:new Date(),
                version:0,
            },
            searchKeyword:'',
            showDisplay:true,
            onUpdate:false,
        };
	},
	methods: {

    onSearchModule(){
      clearInterval(this.changeInterval)
      this.changeInterval = setInterval(() => {
        this.getModuleList();
        clearInterval(this.changeInterval);
      }, 800);
    },

    async getModuleList(){
      var modules = await ModuleService.getModuleList(this.modules.courseId,this.searchKeyword);
      this.modulesList = modules.data.data;
    },

	async onAddModule(){
		this.modules.id = NIL_UUID;
		this.modules.title = '';
		this.showDisplay = false;
		this.onUpdate = false;
	},

    async insertModule(){
      var response = await ModuleService.insertModule(this.modules);
      if (response) {
        alert("Successfully saved");
        this.getModuleList();
        this.onUpdate = false;
        this.showDisplay = true;
      }
    },

    async onUpdateModule(modules){
      this.modules = modules;
      this.onUpdate = true;
      this.showDisplay = false;
    },

    async updateModule(){
      var response = await ModuleService.updateModule(this.modules);
      if(response){
        alert("Successfully updated");
        this.getModuleList();
        this.onUpdate = false;
        this.showDisplay = true;
      }
    },

    async deleteModule(modules){
      var response = await ModuleService.deleteModule(modules.id);
      if(response){
        alert("Successfully deleted");
        this.getModuleList();
      }
    }
  },

  beforeMount() {
    this.modules.subjectId = this.$route.params.subjectId;
    this.modules.courseId = this.$route.params.courseId;
    AuthService.checkToken();
    this.getModuleList();
  }
};
</script>
<style></style>
