<template>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Sign up with credentials</small>
          </div>

            <input
              placeholder="Email"
              class="form-control form-group"
              addon-left-icon="ni ni-email-83"
              v-model="model.email"
            >

            <input
              class="form-control form-group"
              placeholder="Firstname"
              addon-left-icon="ni ni-hat-3"
              v-model="model.firstName"
              focused
            >

            <input
              class="form-control form-group"
              placeholder="Lastname"
              addon-left-icon="ni ni-hat-3"
              v-model="model.lastName"
              focused
            >

                        <input
              class="form-control form-group"
              placeholder="Role"
              addon-left-icon="ni ni-hat-3"
              v-model="model.role"
              focused
            >

            <input
              class="form-control form-group"
              placeholder="Password"
              type="password"
              addon-left-icon="ni ni-lock-circle-open"
              v-model="model.password"
            >

            <input
              class="form-control form-group"
              placeholder="Verify Password"
              type="password"
              addon-left-icon="ni ni-lock-circle-open"
              v-model="model.verifyPassword"
            >

            
            <div class="text-center">
              <button @click="onRegister" type="button" class="btn btn-primary btn-lg btn-block"
                >Create account</button
              >
            </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="text-light">
            <small>Forgot password?</small>
          </a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/login" class="text-light">
            <small>Login into your account</small>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import AuthService from ".././service/AuthService.js";

export default {
  name: "register",
  data() {
    return{
      model:{
        email: "",
        password: "",
        verifyPassword: "",
        role: "",
        firstName: "",
        lastName: ""
      }

    }
  },

  methods:{
    async onRegister() {
      const response = await AuthService.register(this.model);
      if(response){
        alert("Successfuly register");
        this.$router.push('/login')
      }
    }
  
  },

  beforeMount(){
    
  },
};
</script>
<style></style>
