<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row"></div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
    <div class="col-xl-3">
      <div class="card shadow">
        <div class="card-body">
          
          <div >
            <h1 class="text-center">No modules available</h1>
          </div>
          <div class="row" >
          
            <div class="col-sm-12" v-for="modules in moduleList" :key="modules.id" style="margin-top:25px;margin-bottom:25px">
              <div class="card shadow">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                      <div class="col-lg-12">
                        <h4 class="text-center">{{modules.title}}</h4>
                        <div class="text-center">
                          <a @click="onViewContent(modules.id)" class="text-white btn btn-sm bg-gradient-success">View</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9">
      <div class="card shadow">
        <div class="card-body">
          <div >
            <h1 class="text-center">No content available</h1>
          </div>
          <div class="row">
            <div class="col-sm-12" v-for="content in contentList" :key="content.id" style="margin-top:25px;margin-bottom:25px" >
            <div class="card shadow">
              <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                      <h4 class="text-center">{{content.contentName}}</h4>
                      <h4 class="text-center">{{content.type}}</h4>
                    </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</template>
<script>
import ContentService from '../service/ContentService';
import ModuleService from '../service/ModuleService';

export default {
	components: {},
    name: "studentmodule",
	data() {
	    return {
            moduleList: [],
            showDisplay: true,
            onUpdate:false,
            contentList: [],
            timeout:0,
            searchKeyword:'',
        };
	},
	methods: {

    async getModuleList(){
        var modules = await ModuleService.getModuleList(this.$route.params.courseId,this.searchKeyword);
        this.moduleList = modules.data.data;
    },

    async onViewContent (moduleId){
        var contentList = await ContentService.getContentList(moduleId,"");
        this.contentList = contentList.data.data;
    }
    
  },

  beforeMount() {
    this.getModuleList();
  }
};
</script>
<style></style>
