<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row"></div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12">
          <div class="card shadow">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3">
                  <h2>
                    Enrolled Courses
                  </h2>
                </div>

                <form class="navbar-search col-lg-5">
                  <div class="form-group mb-0">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-search"></i
                        ></span>
                      </div>
                      <input
                        class="form-control"
                        @keyup="onSearchCourse()"
                        v-model="searchKeyword"
                        placeholder="Search"
                        type="text"
                      />
                    </div>
                  </div>
                </form>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                  <a
                    className="text-white btn btn-md bg-gradient-danger"
                    v-if="!showDisplay"
                    @click="showDisplay = true"
                    ><i className="ni ni-bold-left"></i> Cancel</a
                  >
                </div>
              </div>

              <hr class="my-3" />
              <!--  -->
              <div class="row" v-if="showDisplay">
                <div
                  v-for="course in courseList"
                  :key="course.id"
                  class="col-sm-4"
                  style="margin-top: 25px; margin-bottom: 25px"
                >
                  <div class="card shadow">
                    <div class="card-header bg-transparent">
                      <div class="row align-items-center">
                        <div class="col-lg-12">
                          <td class="text-right"></td>
                        </div>
                        <div class="col-lg-12 text-center">
                          <a href="javascript:void(0)">
                            <img
                              src=".././assets/img/brand/course_logo.jpg"
                              class="img-thumbnail"
                              style="width: 200px; height: 200px"
                            />
                            <h3>{{course.title}}</h3>
                          </a>
                        </div>
                        <div class="col-lg-12">
                          <h4>
                            Description: {{course.description}}
                            <span class="text-success"></span>
                          </h4>
                          <h4>Created: {{course.createdAt}}</h4>
                          <h4>Updated: {{course.updatedAt}}</h4>
                          <div class="text-center">
                            <a
                              :href="'/#/studentmodule/' + course.id"
                              class="text-white text-center btn btn-md bg-gradient-success"
                              >View Modules</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AuthService from '../service/AuthService';
import EnrollmentService from '../service/EnrollmentService';
import { NIL as NIL_UUID } from 'uuid';

export default {
	components: {},
    name: "studentcourse",
	data() {
	    return {
            courseList: [],
            course: {
				id: NIL_UUID,
				subjectId: this.$route.params.subjectId,
				title: '',
				description: '',
				icon: '',
				author: '',
				duration: '',
				isPublished: 0,
				modules: [],
				createdAt: new Date(),
				updatedAt: new Date(),
            },
            searchKeyword:'',
            showDisplay:true,
            onUpdate:false,
            subjectId:'',
        };
	},
	methods: {

    onSearchCourse(){
      clearInterval(this.changeInterval)
      this.changeInterval = setInterval(() => {
        this.getEnrollmentList();
        clearInterval(this.changeInterval);
      }, 800);
    },

    async getEnrollmentList(){
        var courses = await EnrollmentService.getEnrollmentList(NIL_UUID);
        this.courseList = courses.data.data;
    }

  },

  beforeMount() {
    this.subjectId = this.$route.params.subjectId;
    AuthService.checkToken();
    this.getEnrollmentList();
  }
};
</script>
<style></style>
