<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <!-- Card stats -->
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-lg-8">
          <div class="card shadow" :class="''">
            <div class="card-header border-0" :class="''">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0" :class="''">User List</h3>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <base-table
                class="table align-items-center table-flush"
                :class="''"
                :thead-classes="'thead-light'"
                :data="userList"
              >
                <template v-slot:columns>
                  <th>Email</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th class="text-center">Action</th>
                  <th></th>
                </template>

                <template v-slot:default="row">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span
                          class="name mb-0 text-sm"
                          >{{ row.item.email }}</span
                        >
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    <span class="status">{{ row.item.firstName }}</span>
                  </td>
                  <td>
                    <span class="status">{{ row.item.lastName }}</span>
                  </td>
                  <td>
                    <div class="text-center">
                      <button
                        type="primary"
                        @click="getUserDetails(row.item.id)"
                        class="btn btn-primary btn-sm btn-block"
                      >
                        View Details
                      </button>
                    </div>
                  </td>
                </template>
              </base-table>
            </div>
          </div>
        </div>

        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
              <div class="card card-profile shadow">
                <div class="row justify-content-center">
                  <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                      <a href="javascript:void(0)">
                        <img src="img/theme/team-4-800x800.jpg" class="rounded-circle"/>
                      </a>
                    </div>
                    </div>
                  </div>
                  <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                      <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                      <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
                    </div>
                  </div>
                  <div class="card-body pt-0 pt-md-4">
                    <div class="row">
                      <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                          <div>
                            <span class="heading">22</span>
                            <span class="description">Friends</span>
                          </div>
                          <div>
                            <span class="heading">10</span>
                            <span class="description">Photos</span>
                          </div>
                          <div>
                            <span class="heading">89</span>
                            <span class="description">Comments</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <h3>
                        {{user.firstName}} {{user.lastName }}
                      </h3>
                      <div className="h5 font-weight-300">
                        <i className="ni location_pin mr-2"></i>
                        {{user.role}}
                      </div>
                      <div className="h5 mt-4">
                        <i className="ni business_briefcase-24 mr-2"></i>
                        {{user.email}}
                      </div>
                      <div>
                        <i className="ni education_hat mr-2"></i>Arcanys University
                      </div>
                      <hr className="my-4" />
                    </div>
                  </div>
                </div>
              </div>

      </div>
    </div>
  </div>
</template>
<script>
import AuthService from '../service/AuthService';
import UserService from '../service/UserService';
import { NIL as NIL_UUID } from 'uuid';

export default {
  name: "tables",
  data() {
    return {
      userList: [],
      user: {
        id: NIL_UUID,
        email:'',
        role:'',
        firstName:'',
        lastName:'',
      }
    };
  },
  methods:{

    async getUsersList(){
      var users = await UserService.getUsersList();
      this.userList = users.data.data;
    },

    async getUserDetails(id){
      var users = await UserService.getUserDetails(id);
      this.user = users.data;
    },


  },
  beforeMount(){
    AuthService.checkToken();
    this.getUsersList();
  }
};
</script>
<style></style>
