<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <side-bar
      :background-color="sidebarBackground"
      short-title="Argon"
      title="Argon"
    >
      <template v-slot:links>
        <sidebar-item
          v-if="!isStudent"
          :link="{
            name: 'Dashboard',
            icon: 'ni ni-tv-2 text-primary',
            path: '/dashboard',
          }"
        />

        <sidebar-item
        v-if="!isStudent"
          :link="{
            name: 'Tables',
            icon: 'ni ni-bullet-list-67 text-red',
            path: '/tables',
          }"
        />

        <sidebar-item
        v-if="isStudent"
          :link="{
            name: 'Course',
            icon: 'ni ni-bullet-list-67 text-red',
            path: '/course/' + uuid,
          }"
        />

        <sidebar-item
        v-if="isStudent"
          :link="{
            name: 'Enrolled Course',
            icon: 'ni ni-tablet-button text-green',
            path: '/studentcourse',
          }"
        />

      </template>
    </side-bar>
    <div class="main-content" :data="sidebarBackground">
      <dashboard-navbar></dashboard-navbar>

      <div @click="toggleSidebar">
        <router-view></router-view>
        <content-footer v-if="!$route.meta.hideFooter"></content-footer>
      </div>
    </div>
  </div>
</template>
<script>
import DashboardNavbar from "./DashboardNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import { NIL as NIL_UUID } from 'uuid';

export default {
  components: {
    DashboardNavbar,
    ContentFooter,
  },
  data() {
    return {
      sidebarBackground: "vue", //vue|blue|orange|green|red|primary,
      isStudent:false,
      uuid:NIL_UUID
    };
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    },
  },
  beforeMount(){
    if(localStorage.getItem('role') == 'Student'){
      this.isStudent = true;
    }
  }
};
</script>
<style lang="scss"></style>
